table {
    border-collapse: collapse;
}


tr {
    width: 300px;

}


td {
    width: 150px;
    height: 150px;
    cursor: pointer;
}


td:hover {
    background-color: rgba(31, 104, 195, 0.2);
}


table td {
    position: relative;
    border: 7px solid black;
}


table tr:first-child td {
    border-top: 0;
}


table tr:last-child td {
    border-bottom: 0;
}


table tr td:first-child {
    border-left: 0;
}


table tr td:last-child {
    border-right: 0;
}


.shapes {
    position: absolute;
    left: 40px;
    right: 40px;
    bottom: 40px;
    top: 40px;
    width: 70px;
    height: 70px;
}


.players {
    margin-bottom: 40px;
    font-size: 30px;
    display: flex;
}


.players img {
    width: 70px;
    height: 70px;
    padding-left: 10px;
}


.players div {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}


.playerInactive {
    opacity: 0.5;
}


.horinzontalLine {
    height: 10px;
    width: 400px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    transform: scaleX(0.0);
    transition: transform 225ms ease-in-out;


}


.makeVertical {
    transform: rotate(90deg) scaleX(0.0);

}

